src/node-red/.flows_DESKTOP-L1VBG7A.json.backup
[
    {
        "id": "2f26069e.9e18ea",
        "type": "tab",
        "label": "data source",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da1fb570.2fb978",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f23fd930.df06e8",
        "type": "tab",
        "label": "pipeline",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5fb7ca3b.6ba754",
        "type": "tab",
        "label": "dataset selecor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ac16241.21974c",
        "type": "subflow",
        "name": "read samples",
        "info": "",
        "in": [
            {
                "x": 52.5,
                "y": 189.5999755859375,
                "wires": [
                    {
                        "id": "d15abb26.a40258"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 556.5,
                "y": 172.14999389648438,
                "wires": [
                    {
                        "id": "ba4010c9.1daf7",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "b4e37829.653658",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Pump Monitor",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c0fb88.33d9d48",
        "type": "ui_tab",
        "z": "",
        "name": "Pump Monitor",
        "icon": "dashboard"
    },
    {
        "id": "71f3ddca.b8fcc4",
        "type": "ui_group",
        "z": "",
        "name": "MV",
        "tab": "5c0fb88.33d9d48",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1bd60359.b904bd",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "5c0fb88.33d9d48",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ff0e54a0.6e8fa8",
        "type": "ui_group",
        "z": "",
        "name": "Datasets",
        "tab": "5c0fb88.33d9d48",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "906cfbcc.e6ad98",
        "type": "file in",
        "z": "4ac16241.21974c",
        "name": "",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 255.5,
        "y": 255.89999389648438,
        "wires": [
            [
                "ba4010c9.1daf7"
            ]
        ]
    },
    {
        "id": "b13fa7c5.aa7388",
        "type": "subflow:4ac16241.21974c",
        "z": "2f26069e.9e18ea",
        "name": "",
        "x": 178.5,
        "y": 135.875,
        "wires": [
            [
                "68398a57.de3c14"
            ]
        ]
    },
    {
        "id": "40db0525.ebc17c",
        "type": "link out",
        "z": "2f26069e.9e18ea",
        "name": "data source",
        "links": [
            "eda3d4d4.ae6e28",
            "bf6b8989.ee38a8"
        ],
        "x": 614.5,
        "y": 92.44998168945312,
        "wires": []
    },
    {
        "id": "eda3d4d4.ae6e28",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "dashboard input",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "d63910a6.33bdc",
                "1fff1f1d.73c681",
                "5a64984b.f910d8",
                "a67ab057.67f8e"
            ]
        ]
    },
    {
        "id": "5a64984b.f910d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "mv",
        "group": "71f3ddca.b8fcc4",
        "order": 1,
        "width": "8",
        "height": "3",
        "label": "MV",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "500",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 608,
        "y": 90,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "68087e91.44487",
        "type": "delay",
        "z": "2f26069e.9e18ea",
        "name": "0.1/s",
        "pauseType": "rate",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "0.1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "40db0525.ebc17c"
            ]
        ]
    },
    {
        "id": "bf6b8989.ee38a8",
        "type": "link in",
        "z": "f23fd930.df06e8",
        "name": "",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 155,
        "y": 60,
        "wires": [
            [
                "97ef341a.e57458"
            ]
        ]
    },
    {
        "id": "97ef341a.e57458",
        "type": "indexer",
        "z": "f23fd930.df06e8",
        "name": "",
        "x": 188.5,
        "y": 178.14999389648438,
        "wires": [
            [
                "d8ab2462.30a768"
            ]
        ]
    },
    {
        "id": "865ed09a.8490f",
        "type": "threshold",
        "z": "f23fd930.df06e8",
        "name": "",
        "threshold": "0.5",
        "x": 324.5,
        "y": 62.149993896484375,
        "wires": [
            [
                "dd6eb662.8dc478"
            ]
        ]
    },
    {
        "id": "d8ab2462.30a768",
        "type": "function",
        "z": "f23fd930.df06e8",
        "name": "record delta-t",
        "func": "var current = flow.get('current') || msg.payload.timestamp;\nvar delta = msg.payload.timestamp - current;\nflow.set('current',  msg.payload.timestamp);\nmsg.delta = delta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280.5,
        "y": 255.60000610351562,
        "wires": [
            [
                "865ed09a.8490f"
            ]
        ]
    },
    {
        "id": "a0363a7e.0c4be8",
        "type": "link out",
        "z": "f23fd930.df06e8",
        "name": "modified data src",
        "links": [],
        "x": 555,
        "y": 240,
        "wires": []
    },
    {
        "id": "dd6eb662.8dc478",
        "type": "function",
        "z": "f23fd930.df06e8",
        "name": "utilization",
        "func": "var state = flow.get('utilization')||{idx:0, start:0, on:0};\nif(state.start == 0){\n    state.start = msg.payload.timestamp;\n}\nif(state.idx+1 == msg.n){\n    state.on += msg.delta;\n}\nstate.idx = msg.n;\nflow.set('utilization', state);\nvar t = msg.payload.timestamp - state.start + 1;\nvar u = state.on / t;\nreturn {\n    topic: 'utilization-kpi',\n    payload: u\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "a0363a7e.0c4be8"
            ]
        ]
    },
    {
        "id": "68398a57.de3c14",
        "type": "change",
        "z": "2f26069e.9e18ea",
        "name": "sample",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sample",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "68087e91.44487"
            ]
        ]
    },
    {
        "id": "8a4beae3.760bc8",
        "type": "exec",
        "z": "5fb7ca3b.6ba754",
        "command": "ls",
        "addpay": false,
        "append": "static",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "list images",
        "x": 131,
        "y": 95,
        "wires": [
            [
                "b4bf244a.7b4848"
            ],
            [],
            [
                "77efebbe.b6ac04"
            ]
        ]
    },
    {
        "id": "be520937.8afd38",
        "type": "inject",
        "z": "5fb7ca3b.6ba754",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 80,
        "y": 201,
        "wires": [
            [
                "a4d5d47c.49b758",
                "8a4beae3.760bc8"
            ]
        ]
    },
    {
        "id": "b4bf244a.7b4848",
        "type": "split",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 268,
        "y": 31,
        "wires": [
            [
                "733132c8.69331c"
            ]
        ]
    },
    {
        "id": "733132c8.69331c",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "filter empty str",
        "func": "if(msg.payload === \"\") return null;\nmsg.payload = msg.payload.split('.')[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 445,
        "y": 31,
        "wires": [
            [
                "8ae52659.a3c3d8"
            ]
        ]
    },
    {
        "id": "8ae52659.a3c3d8",
        "type": "join",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "x": 464.5,
        "y": 124.59999084472656,
        "wires": [
            [
                "f500884c.138698"
            ]
        ]
    },
    {
        "id": "4bc1036e.7581fc",
        "type": "ui_dropdown",
        "z": "5fb7ca3b.6ba754",
        "name": "dataset list",
        "label": "",
        "place": "Select dataset",
        "group": "ff0e54a0.6e8fa8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 284,
        "y": 242,
        "wires": [
            [
                "3a563f51.a183f"
            ]
        ]
    },
    {
        "id": "f500884c.138698",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "save options",
        "func": "flow.set('datasets', msg.payload);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 494,
        "y": 218,
        "wires": [
            []
        ]
    },
    {
        "id": "6515f417.359d7c",
        "type": "ui_template",
        "z": "5fb7ca3b.6ba754",
        "group": "ff0e54a0.6e8fa8",
        "name": "graph",
        "order": 2,
        "width": "4",
        "height": "3",
        "format": "<img src=\"{{'/'+msg.payload+'.png'}}\" style=\"width:99%;height:99%;\" />",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 535,
        "y": 381,
        "wires": [
            []
        ]
    },
    {
        "id": "3a563f51.a183f",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "save selected dataset",
        "func": "var components = msg.payload.split('.');\nflow.set('selected', components[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421,
        "y": 309,
        "wires": [
            [
                "6515f417.359d7c"
            ]
        ]
    },
    {
        "id": "a4d5d47c.49b758",
        "type": "delay",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 100.5,
        "y": 316.5999755859375,
        "wires": [
            [
                "f5a5cfc6.d37ea"
            ]
        ]
    },
    {
        "id": "f5a5cfc6.d37ea",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "func": "var options = flow.get('datasets');\nmsg.options = options;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 211.5,
        "y": 397.5999755859375,
        "wires": [
            [
                "4bc1036e.7581fc"
            ]
        ]
    },
    {
        "id": "77efebbe.b6ac04",
        "type": "change",
        "z": "5fb7ca3b.6ba754",
        "name": "complete",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310.5,
        "y": 154.59999084472656,
        "wires": [
            [
                "8ae52659.a3c3d8"
            ]
        ]
    },
    {
        "id": "540833.9bde57cc",
        "type": "ui_button",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "group": "ff0e54a0.6e8fa8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selected",
        "payloadType": "flow",
        "topic": "",
        "x": 375,
        "y": 446,
        "wires": [
            [
                "b4121f6d.bb16"
            ]
        ]
    },
    {
        "id": "b4121f6d.bb16",
        "type": "link out",
        "z": "5fb7ca3b.6ba754",
        "name": "selected dataset",
        "links": [
            "c147c8ce.a8dc08",
            "76ae1269.1fbd4c",
            "fa1a261e.568eb8"
        ],
        "x": 553.5,
        "y": 441.4499816894531,
        "wires": []
    },
    {
        "id": "c147c8ce.a8dc08",
        "type": "link in",
        "z": "2f26069e.9e18ea",
        "name": "",
        "links": [
            "b4121f6d.bb16"
        ],
        "x": 109.5,
        "y": 297.29998779296875,
        "wires": [
            [
                "b13fa7c5.aa7388"
            ]
        ]
    },
    {
        "id": "ba4010c9.1daf7",
        "type": "function",
        "z": "4ac16241.21974c",
        "name": "timestamp",
        "func": "// ignore comments\nif(msg.payload.startsWith('#')) return null;\n\nvar t = flow.get('timestamp')||0;\n\ndelete msg.filename;\nmsg.topic='timeseries';\nmsg.payload = +msg.payload;\nmsg.timestamp = t;\n\n// 1 hr\nt += 3.6e5;\nflow.set('timestamp', t);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421.5,
        "y": 169.60000610351562,
        "wires": [
            []
        ]
    },
    {
        "id": "d15abb26.a40258",
        "type": "function",
        "z": "4ac16241.21974c",
        "name": "set fname",
        "func": "msg.filename='data/'+msg.payload+'.csv';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 212.5,
        "y": 78.59999084472656,
        "wires": [
            [
                "906cfbcc.e6ad98"
            ]
        ]
    },
    {
        "id": "bfe26636.7b27d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "stats",
        "group": "71f3ddca.b8fcc4",
        "order": 0,
        "width": "8",
        "height": "4",
        "label": "Stats",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "500",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 610,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a67ab057.67f8e",
        "type": "smooth",
        "z": "da1fb570.2fb978",
        "name": "lo pass",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "8c50ce.b0961f3",
                "fc1da469.878328"
            ]
        ]
    },
    {
        "id": "91193fe3.f53d3",
        "type": "smooth",
        "z": "da1fb570.2fb978",
        "name": "std dev",
        "property": "payload",
        "action": "sd",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "bfe26636.7b27d8"
            ]
        ]
    },
    {
        "id": "fa1a261e.568eb8",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "",
        "links": [
            "b4121f6d.bb16"
        ],
        "x": 69.5,
        "y": 47.29999542236328,
        "wires": [
            [
                "c85e9ab8.529328"
            ]
        ]
    },
    {
        "id": "c85e9ab8.529328",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "clear the chrts",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 215.5,
        "y": 45.599998474121094,
        "wires": [
            [
                "5a64984b.f910d8",
                "bfe26636.7b27d8",
                "8c50ce.b0961f3"
            ]
        ]
    },
    {
        "id": "d63910a6.33bdc",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "std dev",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Std Dev",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "91193fe3.f53d3"
            ]
        ]
    },
    {
        "id": "1fff1f1d.73c681",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "mean",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Mean",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "3d8e19de.e0c446"
            ]
        ]
    },
    {
        "id": "3d8e19de.e0c446",
        "type": "smooth",
        "z": "da1fb570.2fb978",
        "name": "mean",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "bfe26636.7b27d8"
            ]
        ]
    },
    {
        "id": "8c50ce.b0961f3",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "lo pass",
        "group": "71f3ddca.b8fcc4",
        "order": 1,
        "width": "8",
        "height": "3",
        "label": "Low Pass",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "500",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 622,
        "y": 148,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fc1da469.878328",
        "type": "utilization",
        "z": "da1fb570.2fb978",
        "name": "",
        "threshold": "0.25",
        "x": 235,
        "y": 396.5,
        "wires": [
            [
                "3c081b31.1cd7d4"
            ]
        ]
    },
    {
        "id": "9b2456f.b36cda8",
        "type": "ui_gauge",
        "z": "da1fb570.2fb978",
        "name": "",
        "group": "1bd60359.b904bd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Utilization",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#80ff80"
        ],
        "seg1": "",
        "seg2": "",
        "x": 534,
        "y": 392,
        "wires": []
    },
    {
        "id": "3c081b31.1cd7d4",
        "type": "function",
        "z": "da1fb570.2fb978",
        "name": "x100",
        "func": "msg.payload *=100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 389.5,
        "y": 384.6000061035156,
        "wires": [
            [
                "9b2456f.b36cda8"
            ]
        ]
    }
]