src/node-red/.flows_DESKTOP-L1VBG7A.json.backup
[
    {
        "id": "2f26069e.9e18ea",
        "type": "tab",
        "label": "data source",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da1fb570.2fb978",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f23fd930.df06e8",
        "type": "tab",
        "label": "pipeline",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5fb7ca3b.6ba754",
        "type": "tab",
        "label": "dataset selecor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ac16241.21974c",
        "type": "subflow",
        "name": "read samples",
        "info": "",
        "in": [
            {
                "x": 52.5,
                "y": 189.5999755859375,
                "wires": [
                    {
                        "id": "d15abb26.a40258"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 556.5,
                "y": 172.14999389648438,
                "wires": [
                    {
                        "id": "ba4010c9.1daf7",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "b4e37829.653658",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Spinning Thing Monitor",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c0fb88.33d9d48",
        "type": "ui_tab",
        "z": "",
        "name": "Spinning Thing Monitor",
        "icon": "dashboard"
    },
    {
        "id": "71f3ddca.b8fcc4",
        "type": "ui_group",
        "z": "",
        "name": "MV",
        "tab": "5c0fb88.33d9d48",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1bd60359.b904bd",
        "type": "ui_group",
        "z": "",
        "name": "Processed",
        "tab": "5c0fb88.33d9d48",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ff0e54a0.6e8fa8",
        "type": "ui_group",
        "z": "",
        "name": "Datasets",
        "tab": "5c0fb88.33d9d48",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "906cfbcc.e6ad98",
        "type": "file in",
        "z": "4ac16241.21974c",
        "name": "",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 255.5,
        "y": 255.89999389648438,
        "wires": [
            [
                "ba4010c9.1daf7"
            ]
        ]
    },
    {
        "id": "b13fa7c5.aa7388",
        "type": "subflow:4ac16241.21974c",
        "z": "2f26069e.9e18ea",
        "name": "",
        "x": 178.5,
        "y": 135.875,
        "wires": [
            [
                "68398a57.de3c14"
            ]
        ]
    },
    {
        "id": "40db0525.ebc17c",
        "type": "link out",
        "z": "2f26069e.9e18ea",
        "name": "data source",
        "links": [
            "eda3d4d4.ae6e28",
            "bf6b8989.ee38a8"
        ],
        "x": 614.5,
        "y": 92.44998168945312,
        "wires": []
    },
    {
        "id": "eda3d4d4.ae6e28",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "dashboard input",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 121.5,
        "y": 157.3000030517578,
        "wires": [
            [
                "692362b0.2df92c",
                "cfae0a0b.b28d28"
            ]
        ]
    },
    {
        "id": "5a64984b.f910d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "",
        "group": "71f3ddca.b8fcc4",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 574.5,
        "y": 93.34999084472656,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "692362b0.2df92c",
        "type": "chartable",
        "z": "da1fb570.2fb978",
        "name": "",
        "x": 364.5,
        "y": 119.14999389648438,
        "wires": [
            [
                "5a64984b.f910d8"
            ]
        ]
    },
    {
        "id": "68087e91.44487",
        "type": "delay",
        "z": "2f26069e.9e18ea",
        "name": "0.1/s",
        "pauseType": "rate",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 508.5,
        "y": 187.60000610351562,
        "wires": [
            [
                "40db0525.ebc17c"
            ]
        ]
    },
    {
        "id": "bf6b8989.ee38a8",
        "type": "link in",
        "z": "f23fd930.df06e8",
        "name": "",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 95.5,
        "y": 84.30000305175781,
        "wires": [
            [
                "97ef341a.e57458"
            ]
        ]
    },
    {
        "id": "97ef341a.e57458",
        "type": "indexer",
        "z": "f23fd930.df06e8",
        "name": "",
        "x": 188.5,
        "y": 178.14999389648438,
        "wires": [
            [
                "d8ab2462.30a768"
            ]
        ]
    },
    {
        "id": "865ed09a.8490f",
        "type": "threshold",
        "z": "f23fd930.df06e8",
        "name": "",
        "threshold": "0.5",
        "x": 324.5,
        "y": 62.149993896484375,
        "wires": [
            [
                "dd6eb662.8dc478"
            ]
        ]
    },
    {
        "id": "d8ab2462.30a768",
        "type": "function",
        "z": "f23fd930.df06e8",
        "name": "record delta-t",
        "func": "var current = flow.get('current') || msg.payload.timestamp;\nvar delta = msg.payload.timestamp - current;\nflow.set('current',  msg.payload.timestamp);\nmsg.delta = delta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280.5,
        "y": 255.60000610351562,
        "wires": [
            [
                "865ed09a.8490f"
            ]
        ]
    },
    {
        "id": "a0363a7e.0c4be8",
        "type": "link out",
        "z": "f23fd930.df06e8",
        "name": "modified data src",
        "links": [],
        "x": 578.5,
        "y": 249.44998168945312,
        "wires": []
    },
    {
        "id": "dd6eb662.8dc478",
        "type": "function",
        "z": "f23fd930.df06e8",
        "name": "utilization",
        "func": "var state = flow.get('utilization')||{idx:0, start:0, on:0};\nif(state.start == 0){\n    state.start = msg.payload.timestamp;\n}\nif(state.idx+1 == msg.n){\n    state.on += msg.delta;\n}\nstate.idx = msg.n;\nflow.set('utilization', state);\nvar t = msg.payload.timestamp - state.start + 1;\nvar u = state.on / t;\nreturn {\n    topic: 'utilization-kpi',\n    payload: u\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 482.5,
        "y": 155.59999084472656,
        "wires": [
            [
                "a0363a7e.0c4be8"
            ]
        ]
    },
    {
        "id": "68398a57.de3c14",
        "type": "change",
        "z": "2f26069e.9e18ea",
        "name": "sample",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sample",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 412.5,
        "y": 74.60000610351562,
        "wires": [
            [
                "68087e91.44487"
            ]
        ]
    },
    {
        "id": "8a4beae3.760bc8",
        "type": "exec",
        "z": "5fb7ca3b.6ba754",
        "command": "ls",
        "addpay": false,
        "append": "static",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "list images",
        "x": 131,
        "y": 95,
        "wires": [
            [
                "b4bf244a.7b4848"
            ],
            [],
            [
                "77efebbe.b6ac04"
            ]
        ]
    },
    {
        "id": "be520937.8afd38",
        "type": "inject",
        "z": "5fb7ca3b.6ba754",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 80,
        "y": 201,
        "wires": [
            [
                "a4d5d47c.49b758",
                "8a4beae3.760bc8"
            ]
        ]
    },
    {
        "id": "b4bf244a.7b4848",
        "type": "split",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 268,
        "y": 31,
        "wires": [
            [
                "733132c8.69331c"
            ]
        ]
    },
    {
        "id": "733132c8.69331c",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "filter empty str",
        "func": "if(msg.payload === \"\") return null;\nmsg.payload = msg.payload.split('.')[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 445,
        "y": 31,
        "wires": [
            [
                "8ae52659.a3c3d8"
            ]
        ]
    },
    {
        "id": "8ae52659.a3c3d8",
        "type": "join",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "x": 464.5,
        "y": 124.59999084472656,
        "wires": [
            [
                "f500884c.138698"
            ]
        ]
    },
    {
        "id": "4bc1036e.7581fc",
        "type": "ui_dropdown",
        "z": "5fb7ca3b.6ba754",
        "name": "dataset list",
        "label": "",
        "place": "Select dataset",
        "group": "ff0e54a0.6e8fa8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 284,
        "y": 242,
        "wires": [
            [
                "3a563f51.a183f"
            ]
        ]
    },
    {
        "id": "f500884c.138698",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "save options",
        "func": "flow.set('datasets', msg.payload);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 494,
        "y": 218,
        "wires": [
            []
        ]
    },
    {
        "id": "6515f417.359d7c",
        "type": "ui_template",
        "z": "5fb7ca3b.6ba754",
        "group": "ff0e54a0.6e8fa8",
        "name": "graph",
        "order": 2,
        "width": "4",
        "height": "3",
        "format": "<img src=\"{{'/'+msg.payload+'.png'}}\" style=\"width:99%;height:99%;\" />",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 535,
        "y": 381,
        "wires": [
            []
        ]
    },
    {
        "id": "3a563f51.a183f",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "save selected dataset",
        "func": "var components = msg.payload.split('.');\nflow.set('selected', components[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421,
        "y": 309,
        "wires": [
            [
                "6515f417.359d7c"
            ]
        ]
    },
    {
        "id": "a4d5d47c.49b758",
        "type": "delay",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 100.5,
        "y": 316.5999755859375,
        "wires": [
            [
                "f5a5cfc6.d37ea"
            ]
        ]
    },
    {
        "id": "f5a5cfc6.d37ea",
        "type": "function",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "func": "var options = flow.get('datasets');\nmsg.options = options;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 211.5,
        "y": 397.5999755859375,
        "wires": [
            [
                "4bc1036e.7581fc"
            ]
        ]
    },
    {
        "id": "77efebbe.b6ac04",
        "type": "change",
        "z": "5fb7ca3b.6ba754",
        "name": "complete",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310.5,
        "y": 154.59999084472656,
        "wires": [
            [
                "8ae52659.a3c3d8"
            ]
        ]
    },
    {
        "id": "540833.9bde57cc",
        "type": "ui_button",
        "z": "5fb7ca3b.6ba754",
        "name": "",
        "group": "ff0e54a0.6e8fa8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selected",
        "payloadType": "flow",
        "topic": "",
        "x": 375,
        "y": 446,
        "wires": [
            [
                "b4121f6d.bb16"
            ]
        ]
    },
    {
        "id": "b4121f6d.bb16",
        "type": "link out",
        "z": "5fb7ca3b.6ba754",
        "name": "selected dataset",
        "links": [
            "c147c8ce.a8dc08",
            "76ae1269.1fbd4c"
        ],
        "x": 553.5,
        "y": 441.4499816894531,
        "wires": []
    },
    {
        "id": "c147c8ce.a8dc08",
        "type": "link in",
        "z": "2f26069e.9e18ea",
        "name": "",
        "links": [
            "b4121f6d.bb16"
        ],
        "x": 109.5,
        "y": 297.29998779296875,
        "wires": [
            [
                "b13fa7c5.aa7388"
            ]
        ]
    },
    {
        "id": "ba4010c9.1daf7",
        "type": "function",
        "z": "4ac16241.21974c",
        "name": "timestamp",
        "func": "if(msg.payload.startsWith('#')) return null;\nvar t = flow.get('timestamp')||0;\nvar sample = {\n    timestamp:t,\n    value:+msg.payload\n};\nt += 3.6e5;\nflow.set('timestamp', t);\nmsg.payload = sample;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421.5,
        "y": 169.60000610351562,
        "wires": [
            []
        ]
    },
    {
        "id": "d15abb26.a40258",
        "type": "function",
        "z": "4ac16241.21974c",
        "name": "set fname",
        "func": "msg.filename='data/'+msg.payload+'.csv';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 212.5,
        "y": 78.59999084472656,
        "wires": [
            [
                "906cfbcc.e6ad98"
            ]
        ]
    },
    {
        "id": "76ae1269.1fbd4c",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "",
        "links": [
            "b4121f6d.bb16"
        ],
        "x": 179.5,
        "y": 45.29998779296875,
        "wires": [
            [
                "40f30eaf.1a142"
            ]
        ]
    },
    {
        "id": "40f30eaf.1a142",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "clear",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 354.5,
        "y": 60.600006103515625,
        "wires": [
            [
                "5a64984b.f910d8",
                "ca0e5db9.3998f",
                "bfe26636.7b27d8"
            ]
        ]
    },
    {
        "id": "d4ed678f.2ccf58",
        "type": "mean",
        "z": "da1fb570.2fb978",
        "name": "",
        "size": "5",
        "x": 276.5,
        "y": 183.14999389648438,
        "wires": [
            [
                "3f1e8871.bc29e8"
            ]
        ]
    },
    {
        "id": "3f1e8871.bc29e8",
        "type": "chartable",
        "z": "da1fb570.2fb978",
        "name": "",
        "x": 387.5,
        "y": 260.1499938964844,
        "wires": [
            [
                "ca0e5db9.3998f"
            ]
        ]
    },
    {
        "id": "ca0e5db9.3998f",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "mean",
        "group": "1bd60359.b904bd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Mean",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 571.5,
        "y": 205.85000610351562,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cfae0a0b.b28d28",
        "type": "threshold",
        "z": "da1fb570.2fb978",
        "name": "",
        "threshold": "0.25",
        "x": 144.5,
        "y": 359.1499938964844,
        "wires": [
            [
                "d4ed678f.2ccf58",
                "b4fde783.908558"
            ]
        ]
    },
    {
        "id": "b4fde783.908558",
        "type": "median",
        "z": "da1fb570.2fb978",
        "name": "",
        "size": 3,
        "x": 363.5,
        "y": 380.1499938964844,
        "wires": [
            [
                "7396d512.2e8e0c"
            ]
        ]
    },
    {
        "id": "bfe26636.7b27d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "median",
        "group": "1bd60359.b904bd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Median",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 562,
        "y": 351,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7396d512.2e8e0c",
        "type": "chartable",
        "z": "da1fb570.2fb978",
        "name": "",
        "x": 507.5,
        "y": 443.1499938964844,
        "wires": [
            [
                "bfe26636.7b27d8"
            ]
        ]
    }
]