src/node-red/.flows_digital_twin.json.backup
[
    {
        "id": "f87f73ed.ba341",
        "type": "tab",
        "label": "catalog",
        "disabled": false,
        "info": "Select a data set from the catalog and notify\nthe data loader."
    },
    {
        "id": "2f26069e.9e18ea",
        "type": "tab",
        "label": "loader",
        "disabled": false,
        "info": "Loads a file of data values and sends one message\nper line. Any line starting with # is ignored as\nblank lines."
    },
    {
        "id": "da1fb570.2fb978",
        "type": "tab",
        "label": "monitor",
        "disabled": false,
        "info": "Display the raw signal as well as the filtered\nsignal and some statistics about the signal."
    },
    {
        "id": "af482ebc.20131",
        "type": "tab",
        "label": "diagnostics",
        "disabled": false,
        "info": "Calculate the percentage of time that the signal is above a given threshold."
    },
    {
        "id": "85a05cda.a32ed",
        "type": "tab",
        "label": "forecast",
        "disabled": false,
        "info": "Predict when the signal will be \ngreater than a threshold."
    },
    {
        "id": "a8b82a4.de3ced8",
        "type": "tab",
        "label": "threshold set",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ceaf370.a3bfe",
        "type": "tab",
        "label": "filter select",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4e37829.653658",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "CONDG",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c0fb88.33d9d48",
        "type": "ui_tab",
        "z": "",
        "name": "Pump Monitor",
        "icon": "dashboard"
    },
    {
        "id": "71f3ddca.b8fcc4",
        "type": "ui_group",
        "z": "",
        "name": "Signal",
        "tab": "5c0fb88.33d9d48",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1bd60359.b904bd",
        "type": "ui_group",
        "z": "",
        "name": "KPI",
        "tab": "5c0fb88.33d9d48",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ff0e54a0.6e8fa8",
        "type": "ui_group",
        "z": "",
        "name": "Data Catalog",
        "tab": "5c0fb88.33d9d48",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "40db0525.ebc17c",
        "type": "link out",
        "z": "2f26069e.9e18ea",
        "name": "raise raw data",
        "links": [
            "7246eee4.fabb6",
            "eda3d4d4.ae6e28"
        ],
        "x": 575,
        "y": 300,
        "wires": []
    },
    {
        "id": "eda3d4d4.ae6e28",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "on raw data",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "5a64984b.f910d8"
            ]
        ]
    },
    {
        "id": "5a64984b.f910d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "mv",
        "group": "71f3ddca.b8fcc4",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Measured",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "4",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "68398a57.de3c14",
        "type": "change",
        "z": "2f26069e.9e18ea",
        "name": "sample",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sample",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "40db0525.ebc17c"
            ]
        ]
    },
    {
        "id": "c147c8ce.a8dc08",
        "type": "link in",
        "z": "2f26069e.9e18ea",
        "name": "on filename",
        "links": [
            "734756ea.432ee8"
        ],
        "x": 135,
        "y": 100,
        "wires": [
            [
                "459e8577.1e454c",
                "f85f58f7.c6d578"
            ]
        ]
    },
    {
        "id": "fa1a261e.568eb8",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "79d72041.cda49"
            ]
        ]
    },
    {
        "id": "8c50ce.b0961f3",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "lo pass",
        "group": "71f3ddca.b8fcc4",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Filtered",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "4",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d50514e7.2fa428",
        "type": "utilization",
        "z": "af482ebc.20131",
        "name": "utilization",
        "threshold": "0.1",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "fd92220d.2d92d"
            ]
        ]
    },
    {
        "id": "fd92220d.2d92d",
        "type": "function",
        "z": "af482ebc.20131",
        "name": "x100",
        "func": "msg.payload *=100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "b0133814.10b318"
            ]
        ]
    },
    {
        "id": "b0133814.10b318",
        "type": "ui_gauge",
        "z": "af482ebc.20131",
        "name": "",
        "group": "1bd60359.b904bd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Utilization",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "c875de8c.bb91b",
        "type": "link in",
        "z": "af482ebc.20131",
        "name": "on smooth data",
        "links": [
            "b4db4bab.1190e8"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "d50514e7.2fa428"
            ]
        ]
    },
    {
        "id": "d53fd991.40e5b8",
        "type": "exec",
        "z": "f87f73ed.ba341",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "list the data sets",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "53e224c.4ad7adc"
            ],
            [],
            []
        ]
    },
    {
        "id": "53e224c.4ad7adc",
        "type": "split",
        "z": "f87f73ed.ba341",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "6aa36239.4ba67c"
            ]
        ]
    },
    {
        "id": "6aa36239.4ba67c",
        "type": "function",
        "z": "f87f73ed.ba341",
        "name": "set image path",
        "func": "if(msg.payload === \"\") return null;\n\nvar catalog = flow.get('catalog');\nmsg.payload =  '../' + catalog + '/pic/' + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "b348c9c4.c114e8"
            ]
        ]
    },
    {
        "id": "ebba2f76.1137",
        "type": "ui_template",
        "z": "f87f73ed.ba341",
        "group": "ff0e54a0.6e8fa8",
        "name": "catalog list",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style='height:70vh; overflow:scroll;overflow-x: hidden;'>\n    <ul ng-repeat='item in msg.payload' id='imagelist' style='list-style-type: none;list-style-position: inside;padding-left:0;'>\n        <li>\n            <mat-button ng-click=\"send({payload:item})\" style=\"padding-top:0.5rem;padding-bottom:0.5rem;\">\n                <img ng-src=\"{{item}}\" style=\"width:95%;height:95%;\" />\n            </mat-button>\n        </li>\n    </ul>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "27010b34.734f94"
            ]
        ]
    },
    {
        "id": "734756ea.432ee8",
        "type": "link out",
        "z": "f87f73ed.ba341",
        "name": "raise filename",
        "links": [
            "c147c8ce.a8dc08"
        ],
        "x": 515,
        "y": 640,
        "wires": []
    },
    {
        "id": "b348c9c4.c114e8",
        "type": "join",
        "z": "f87f73ed.ba341",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "ebba2f76.1137"
            ]
        ]
    },
    {
        "id": "459e8577.1e454c",
        "type": "file in",
        "z": "2f26069e.9e18ea",
        "name": "",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "a14b24a5.699418"
            ]
        ]
    },
    {
        "id": "a14b24a5.699418",
        "type": "function",
        "z": "2f26069e.9e18ea",
        "name": "timestamp",
        "func": "// ignore comments\nif(msg.payload.startsWith('#')) return null;\n\nvar t = flow.get('timestamp')||0;\n\ndelete msg.filename;\nmsg.topic='timeseries';\nmsg.payload = +msg.payload;\nmsg.timestamp = t;\n\n// 1 hr\nt += 3.6e6;\nflow.set('timestamp', t);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "420facab.34ecc4"
            ]
        ]
    },
    {
        "id": "af695146.0f223",
        "type": "link in",
        "z": "85a05cda.a32ed",
        "name": "on smooth data",
        "links": [
            "b4db4bab.1190e8"
        ],
        "x": 95,
        "y": 60,
        "wires": [
            [
                "ce0d792e.4ebb38"
            ]
        ]
    },
    {
        "id": "6a2235b6.9a47ec",
        "type": "regression",
        "z": "85a05cda.a32ed",
        "name": "",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "263fb80a.1f2298"
            ]
        ]
    },
    {
        "id": "ee7cb39b.d8355",
        "type": "function",
        "z": "f87f73ed.ba341",
        "name": "set catalog",
        "func": "var catalog = context.global.catalogDir + '/' + msg.payload;\nflow.set('catalog',catalog);\n\nmsg.payload = catalog + '/pic';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "d53fd991.40e5b8"
            ]
        ]
    },
    {
        "id": "204593a0.c6d0ac",
        "type": "ui_text",
        "z": "85a05cda.a32ed",
        "group": "1bd60359.b904bd",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "Projected Failure Date",
        "format": "{{msg.payload|date:'short'}}",
        "layout": "col-center",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "263fb80a.1f2298",
        "type": "function",
        "z": "85a05cda.a32ed",
        "name": "forecast",
        "func": "const target = global.get('failure_threshold');\n\nvar m = context.global.moment;\nvar now = m(msg.timestamp);\nvar forecast = m((target - msg.payload.equation[1])/msg.payload.equation[0]);\nvar delta = m.duration(forecast.diff(now)).asDays();\n\ndelta = Math.floor(delta);\n\nif(delta < 0)return null;\n\nmsg.payload = +forecast;\nmsg.topic = 'forecast';\nreturn [{timestamp:msg.timestamp, payload:delta},msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "11555de5.e87242",
                "3609c2b.444853e"
            ],
            [
                "204593a0.c6d0ac"
            ]
        ]
    },
    {
        "id": "11555de5.e87242",
        "type": "ui_gauge",
        "z": "85a05cda.a32ed",
        "name": "",
        "group": "1bd60359.b904bd",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TUF",
        "label": "Days",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "f4fce7b1.fc3d18",
        "type": "ui_dropdown",
        "z": "f87f73ed.ba341",
        "name": "catalog select",
        "label": "",
        "place": "Select data",
        "group": "ff0e54a0.6e8fa8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Generated",
                "value": "generated",
                "type": "str"
            },
            {
                "label": "Measured",
                "value": "measured",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "selected-catalog",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "ee7cb39b.d8355"
            ]
        ]
    },
    {
        "id": "9ab4c376.0ddd2",
        "type": "function",
        "z": "f87f73ed.ba341",
        "name": "set filename",
        "func": "var catalog = flow.get('catalog');\nvar path = context.global.path;\nvar info = path.parse(msg.payload);\nmsg.filename = catalog + '/dat/' + info.name + '.csv';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "734756ea.432ee8"
            ]
        ]
    },
    {
        "id": "6b6edc1c.ac7e54",
        "type": "inject",
        "z": "f87f73ed.ba341",
        "name": "init",
        "topic": "",
        "payload": "generated",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "f4fce7b1.fc3d18"
            ]
        ]
    },
    {
        "id": "c3e8bb76.b7b158",
        "type": "link out",
        "z": "f87f73ed.ba341",
        "name": "raise reset",
        "links": [
            "2002b6d0.9e109a",
            "fa1a261e.568eb8",
            "da6bcca7.37b89",
            "ba6fe7bb.b56a28",
            "e5702948.7ae5b8",
            "f55f45b3.f43c78",
            "254a834b.1e3fcc"
        ],
        "x": 355,
        "y": 640,
        "wires": []
    },
    {
        "id": "da6bcca7.37b89",
        "type": "link in",
        "z": "af482ebc.20131",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158",
            "3c3d1668.badaba"
        ],
        "x": 155,
        "y": 220,
        "wires": [
            [
                "d50514e7.2fa428",
                "3a8bc381.bf526c"
            ]
        ]
    },
    {
        "id": "ba6fe7bb.b56a28",
        "type": "link in",
        "z": "85a05cda.a32ed",
        "name": "on reset",
        "links": [
            "2ca5742e.56b55c",
            "c3e8bb76.b7b158"
        ],
        "x": 135,
        "y": 360,
        "wires": [
            [
                "561d4b29.30fe14",
                "d056bd5d.67243"
            ]
        ]
    },
    {
        "id": "420facab.34ecc4",
        "type": "delay",
        "z": "2f26069e.9e18ea",
        "name": "",
        "pauseType": "rate",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "68398a57.de3c14"
            ]
        ]
    },
    {
        "id": "27010b34.734f94",
        "type": "delay",
        "z": "f87f73ed.ba341",
        "name": "",
        "pauseType": "delay",
        "timeout": ".2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "9ab4c376.0ddd2"
            ]
        ]
    },
    {
        "id": "2002b6d0.9e109a",
        "type": "link in",
        "z": "2f26069e.9e18ea",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 135,
        "y": 320,
        "wires": [
            [
                "420facab.34ecc4"
            ]
        ]
    },
    {
        "id": "79d72041.cda49",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "reset []",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "5a64984b.f910d8",
                "8c50ce.b0961f3"
            ]
        ]
    },
    {
        "id": "3609c2b.444853e",
        "type": "link out",
        "z": "85a05cda.a32ed",
        "name": "raise forecast",
        "links": [
            "de6ce2ae.fe8d3"
        ],
        "x": 595,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce0d792e.4ebb38",
        "type": "batch",
        "z": "85a05cda.a32ed",
        "name": "",
        "mode": "count",
        "count": "5",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 230,
        "y": 40,
        "wires": [
            [
                "197397a0.633f58"
            ]
        ]
    },
    {
        "id": "197397a0.633f58",
        "type": "join",
        "z": "85a05cda.a32ed",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "6a2235b6.9a47ec"
            ]
        ]
    },
    {
        "id": "1412b510.bd69db",
        "type": "ui_numeric",
        "z": "a8b82a4.de3ced8",
        "name": "util",
        "label": "Threshold",
        "group": "1bd60359.b904bd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "utilization_threshold",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "37676149.d9dd2e",
                "3c3d1668.badaba"
            ]
        ]
    },
    {
        "id": "7246eee4.fabb6",
        "type": "link in",
        "z": "9ceaf370.a3bfe",
        "name": "on raw data",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "e53a482c.c2f808"
            ]
        ]
    },
    {
        "id": "6c7f8d17.3b36e4",
        "type": "ui_dropdown",
        "z": "9ceaf370.a3bfe",
        "name": "filter",
        "label": "Filters",
        "place": "Select option",
        "group": "71f3ddca.b8fcc4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Low Pass",
                "value": "lopass",
                "type": "str"
            },
            {
                "label": "High Pass",
                "value": "hipass",
                "type": "str"
            },
            {
                "label": "Mean",
                "value": "mean",
                "type": "str"
            },
            {
                "label": "Median",
                "value": "median",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "cdb3dccd.59c66"
            ]
        ]
    },
    {
        "id": "e53a482c.c2f808",
        "type": "switch",
        "z": "9ceaf370.a3bfe",
        "name": "route",
        "property": "filter",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "lopass",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hipass",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mean",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "median",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "b07966ff.4c1708"
            ],
            [
                "3fe84cb0.e77c14"
            ],
            [
                "f0b56007.019b8"
            ],
            [
                "c0a5c05a.ff4ae"
            ],
            [
                "b4db4bab.1190e8"
            ]
        ]
    },
    {
        "id": "b4db4bab.1190e8",
        "type": "link out",
        "z": "9ceaf370.a3bfe",
        "name": "raise smooth data",
        "links": [
            "394829b.eda77d6",
            "af695146.0f223",
            "c875de8c.bb91b"
        ],
        "x": 655,
        "y": 260,
        "wires": []
    },
    {
        "id": "b07966ff.4c1708",
        "type": "smooth",
        "z": "9ceaf370.a3bfe",
        "name": "low",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "b4db4bab.1190e8"
            ]
        ]
    },
    {
        "id": "3fe84cb0.e77c14",
        "type": "smooth",
        "z": "9ceaf370.a3bfe",
        "name": "high",
        "property": "payload",
        "action": "high",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "b4db4bab.1190e8"
            ]
        ]
    },
    {
        "id": "f0b56007.019b8",
        "type": "smooth",
        "z": "9ceaf370.a3bfe",
        "name": "mean",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "b4db4bab.1190e8"
            ]
        ]
    },
    {
        "id": "c0a5c05a.ff4ae",
        "type": "batch",
        "z": "9ceaf370.a3bfe",
        "name": "",
        "mode": "count",
        "count": "5",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "6300b627.11db08"
            ]
        ]
    },
    {
        "id": "6300b627.11db08",
        "type": "join",
        "z": "9ceaf370.a3bfe",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "be2a58e.936d3a8"
            ]
        ]
    },
    {
        "id": "be2a58e.936d3a8",
        "type": "function",
        "z": "9ceaf370.a3bfe",
        "name": "median",
        "func": "msg.payload.sort((a,b)=> a.payload - b.payload);\nvar idx = Math.floor(msg.payload.length / 2);\nreturn msg.payload[idx];",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "b4db4bab.1190e8"
            ]
        ]
    },
    {
        "id": "394829b.eda77d6",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "on smooth data",
        "links": [
            "b4db4bab.1190e8"
        ],
        "x": 155,
        "y": 300,
        "wires": [
            [
                "8c50ce.b0961f3"
            ]
        ]
    },
    {
        "id": "e5702948.7ae5b8",
        "type": "link in",
        "z": "a8b82a4.de3ced8",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "2bf56d08.d84e02",
                "d4c2b34d.72b9f"
            ]
        ]
    },
    {
        "id": "2bf56d08.d84e02",
        "type": "change",
        "z": "a8b82a4.de3ced8",
        "name": "0.1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0.1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "1412b510.bd69db"
            ]
        ]
    },
    {
        "id": "f55f45b3.f43c78",
        "type": "link in",
        "z": "9ceaf370.a3bfe",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 95,
        "y": 300,
        "wires": [
            [
                "252c143e.75057c"
            ]
        ]
    },
    {
        "id": "252c143e.75057c",
        "type": "change",
        "z": "9ceaf370.a3bfe",
        "name": "lopass",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "lopass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "6c7f8d17.3b36e4"
            ]
        ]
    },
    {
        "id": "3a8bc381.bf526c",
        "type": "change",
        "z": "af482ebc.20131",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "b0133814.10b318"
            ]
        ]
    },
    {
        "id": "561d4b29.30fe14",
        "type": "change",
        "z": "85a05cda.a32ed",
        "name": "nil",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "204593a0.c6d0ac"
            ]
        ]
    },
    {
        "id": "d056bd5d.67243",
        "type": "change",
        "z": "85a05cda.a32ed",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "11555de5.e87242"
            ]
        ]
    },
    {
        "id": "cdb3dccd.59c66",
        "type": "function",
        "z": "9ceaf370.a3bfe",
        "name": "set",
        "func": "flow.set('filter', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 380,
        "wires": [
            [
                "703caaf3.f61754"
            ]
        ]
    },
    {
        "id": "703caaf3.f61754",
        "type": "link out",
        "z": "9ceaf370.a3bfe",
        "name": "raise reset",
        "links": [],
        "x": 555,
        "y": 440,
        "wires": []
    },
    {
        "id": "d4c2b34d.72b9f",
        "type": "change",
        "z": "a8b82a4.de3ced8",
        "name": "0.75",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0.75",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "f2c0df73.9b388"
            ]
        ]
    },
    {
        "id": "37676149.d9dd2e",
        "type": "function",
        "z": "a8b82a4.de3ced8",
        "name": "global",
        "func": "global.set(msg.topic, msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2ca5742e.56b55c",
        "type": "link out",
        "z": "a8b82a4.de3ced8",
        "name": "raise failue threshold",
        "links": [
            "ba6fe7bb.b56a28"
        ],
        "x": 575,
        "y": 320,
        "wires": []
    },
    {
        "id": "e1a33d2c.66d8d",
        "type": "ui_button",
        "z": "f87f73ed.ba341",
        "name": "",
        "group": "ff0e54a0.6e8fa8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "fae16bf8.28b338"
            ]
        ]
    },
    {
        "id": "f2c0df73.9b388",
        "type": "ui_numeric",
        "z": "a8b82a4.de3ced8",
        "name": "failure",
        "label": "Threshold",
        "group": "1bd60359.b904bd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "failure_threshold",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "37676149.d9dd2e",
                "2ca5742e.56b55c"
            ]
        ]
    },
    {
        "id": "fae16bf8.28b338",
        "type": "change",
        "z": "f87f73ed.ba341",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "c3e8bb76.b7b158",
                "27010b34.734f94"
            ]
        ]
    },
    {
        "id": "f85f58f7.c6d578",
        "type": "change",
        "z": "2f26069e.9e18ea",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "420facab.34ecc4"
            ]
        ]
    },
    {
        "id": "3c3d1668.badaba",
        "type": "link out",
        "z": "a8b82a4.de3ced8",
        "name": "raise util threshold",
        "links": [
            "da6bcca7.37b89"
        ],
        "x": 575,
        "y": 160,
        "wires": []
    }
]