src/node-red/flows_DESKTOP-L1VBG7A.json
[
    {
        "id": "f87f73ed.ba341",
        "type": "tab",
        "label": "catalog",
        "disabled": false,
        "info": "Select a data set from the catalog and notify\nthe data loader."
    },
    {
        "id": "2f26069e.9e18ea",
        "type": "tab",
        "label": "loader",
        "disabled": false,
        "info": "Loads a file of data values and sends one message\nper line. Any line starting with # is ignored as\nblank lines."
    },
    {
        "id": "da1fb570.2fb978",
        "type": "tab",
        "label": "monitor",
        "disabled": false,
        "info": "Display the raw signal as well as the filtered\nsignal and some statistics about the signal."
    },
    {
        "id": "af482ebc.20131",
        "type": "tab",
        "label": "optimize",
        "disabled": false,
        "info": "Calculate the percentage of time that the signal is above a given threshold."
    },
    {
        "id": "85a05cda.a32ed",
        "type": "tab",
        "label": "forecast",
        "disabled": false,
        "info": "Predict when the signal will be \ngreater than a threshold."
    },
    {
        "id": "b4e37829.653658",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Design Like Mythbusters",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c0fb88.33d9d48",
        "type": "ui_tab",
        "z": "",
        "name": "Pump Monitor",
        "icon": "dashboard"
    },
    {
        "id": "71f3ddca.b8fcc4",
        "type": "ui_group",
        "z": "",
        "name": "Signal",
        "tab": "5c0fb88.33d9d48",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1bd60359.b904bd",
        "type": "ui_group",
        "z": "",
        "name": "KPI",
        "tab": "5c0fb88.33d9d48",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ff0e54a0.6e8fa8",
        "type": "ui_group",
        "z": "",
        "name": "Data Catalog",
        "tab": "5c0fb88.33d9d48",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "40db0525.ebc17c",
        "type": "link out",
        "z": "2f26069e.9e18ea",
        "name": "data source",
        "links": [
            "af695146.0f223",
            "c875de8c.bb91b",
            "eda3d4d4.ae6e28"
        ],
        "x": 515,
        "y": 300,
        "wires": []
    },
    {
        "id": "eda3d4d4.ae6e28",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "on sample",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 155,
        "y": 240,
        "wires": [
            [
                "5a64984b.f910d8",
                "34ff438a.c3c81c"
            ]
        ]
    },
    {
        "id": "5a64984b.f910d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "mv",
        "group": "71f3ddca.b8fcc4",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "MV",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "4",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "68398a57.de3c14",
        "type": "change",
        "z": "2f26069e.9e18ea",
        "name": "sample",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sample",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "40db0525.ebc17c"
            ]
        ]
    },
    {
        "id": "c147c8ce.a8dc08",
        "type": "link in",
        "z": "2f26069e.9e18ea",
        "name": "on selected datafile",
        "links": [
            "734756ea.432ee8"
        ],
        "x": 135,
        "y": 100,
        "wires": [
            [
                "459e8577.1e454c"
            ]
        ]
    },
    {
        "id": "fa1a261e.568eb8",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "34ff438a.c3c81c",
                "79d72041.cda49"
            ]
        ]
    },
    {
        "id": "8c50ce.b0961f3",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "lo pass",
        "group": "71f3ddca.b8fcc4",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Low Pass",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "4",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 580,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d50514e7.2fa428",
        "type": "utilization",
        "z": "af482ebc.20131",
        "name": "",
        "threshold": "0.1",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "fd92220d.2d92d",
                "f68be25c.f442"
            ]
        ]
    },
    {
        "id": "fd92220d.2d92d",
        "type": "function",
        "z": "af482ebc.20131",
        "name": "x100",
        "func": "msg.payload *=100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "b0133814.10b318"
            ]
        ]
    },
    {
        "id": "b0133814.10b318",
        "type": "ui_gauge",
        "z": "af482ebc.20131",
        "name": "",
        "group": "1bd60359.b904bd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Utilization",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "c875de8c.bb91b",
        "type": "link in",
        "z": "af482ebc.20131",
        "name": "on data",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "d50514e7.2fa428"
            ]
        ]
    },
    {
        "id": "34ff438a.c3c81c",
        "type": "smooth",
        "z": "da1fb570.2fb978",
        "name": "low pass",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "8c50ce.b0961f3"
            ]
        ]
    },
    {
        "id": "d53fd991.40e5b8",
        "type": "exec",
        "z": "f87f73ed.ba341",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "list the data sets",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "53e224c.4ad7adc"
            ],
            [],
            []
        ]
    },
    {
        "id": "53e224c.4ad7adc",
        "type": "split",
        "z": "f87f73ed.ba341",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "6aa36239.4ba67c"
            ]
        ]
    },
    {
        "id": "6aa36239.4ba67c",
        "type": "function",
        "z": "f87f73ed.ba341",
        "name": "set image path",
        "func": "if(msg.payload === \"\") return null;\n\nvar catalog = flow.get('catalog');\nmsg.payload =  '../' + catalog + '/pic/' + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "b348c9c4.c114e8"
            ]
        ]
    },
    {
        "id": "ebba2f76.1137",
        "type": "ui_template",
        "z": "f87f73ed.ba341",
        "group": "ff0e54a0.6e8fa8",
        "name": "catalog list",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style='height:80vh; overflow:scroll;overflow-x: hidden;'>\n    <ul ng-repeat='item in msg.payload' id='imagelist' style='list-style-type: none;list-style-position: inside;padding-left:0;'>\n        <li>\n            <mat-button ng-click=\"send({payload:item})\" style=\"padding-top:0.5rem;padding-bottom:0.5rem;\">\n                <img ng-src=\"{{item}}\" style=\"width:95%;height:95%;\" />\n            </mat-button>\n        </li>\n    </ul>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "427f81a2.4b016",
                "27010b34.734f94"
            ]
        ]
    },
    {
        "id": "734756ea.432ee8",
        "type": "link out",
        "z": "f87f73ed.ba341",
        "name": "selected datafile",
        "links": [
            "c147c8ce.a8dc08"
        ],
        "x": 475,
        "y": 480,
        "wires": []
    },
    {
        "id": "b348c9c4.c114e8",
        "type": "join",
        "z": "f87f73ed.ba341",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "ebba2f76.1137"
            ]
        ]
    },
    {
        "id": "459e8577.1e454c",
        "type": "file in",
        "z": "2f26069e.9e18ea",
        "name": "",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "a14b24a5.699418"
            ]
        ]
    },
    {
        "id": "a14b24a5.699418",
        "type": "function",
        "z": "2f26069e.9e18ea",
        "name": "timestamp",
        "func": "// ignore comments\nif(msg.payload.startsWith('#')) return null;\n\nvar t = flow.get('timestamp')||0;\n\ndelete msg.filename;\nmsg.topic='timeseries';\nmsg.payload = +msg.payload;\nmsg.timestamp = t;\n\n// 1 hr\nt += 3.6e6;\nflow.set('timestamp', t);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "420facab.34ecc4"
            ]
        ]
    },
    {
        "id": "af695146.0f223",
        "type": "link in",
        "z": "85a05cda.a32ed",
        "name": "on sample",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 155,
        "y": 262,
        "wires": [
            [
                "6eae794a.3ce868"
            ]
        ]
    },
    {
        "id": "6a2235b6.9a47ec",
        "type": "regression",
        "z": "85a05cda.a32ed",
        "name": "",
        "x": 510,
        "y": 122,
        "wires": [
            [
                "263fb80a.1f2298"
            ]
        ]
    },
    {
        "id": "ee7cb39b.d8355",
        "type": "function",
        "z": "f87f73ed.ba341",
        "name": "set catalog",
        "func": "var catalog = context.global.catalogDir + '/' + msg.payload;\nflow.set('catalog',catalog);\n\nmsg.payload = catalog + '/pic';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "d53fd991.40e5b8"
            ]
        ]
    },
    {
        "id": "204593a0.c6d0ac",
        "type": "ui_text",
        "z": "85a05cda.a32ed",
        "group": "1bd60359.b904bd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload|date:'short'}}",
        "layout": "col-center",
        "x": 590,
        "y": 522,
        "wires": []
    },
    {
        "id": "263fb80a.1f2298",
        "type": "function",
        "z": "85a05cda.a32ed",
        "name": "forecast",
        "func": "const target = .75;\n\nvar m = context.global.moment;\nvar now = m(msg.timestamp);\nvar forecast = m((target - msg.payload.equation[1])/msg.payload.equation[0]);\nvar delta = m.duration(forecast.diff(now)).asDays();\n\ndelta = Math.floor(delta);\n\nif(delta < 0)return null;\n\nmsg.payload = +forecast;\nmsg.topic = 'forecast';\nreturn [{timestamp:msg.timestamp, payload:delta},msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 280,
        "y": 322,
        "wires": [
            [
                "11555de5.e87242"
            ],
            [
                "204593a0.c6d0ac"
            ]
        ]
    },
    {
        "id": "11555de5.e87242",
        "type": "ui_gauge",
        "z": "85a05cda.a32ed",
        "name": "",
        "group": "1bd60359.b904bd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TUF",
        "label": "Days",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 222,
        "wires": []
    },
    {
        "id": "f4fce7b1.fc3d18",
        "type": "ui_dropdown",
        "z": "f87f73ed.ba341",
        "name": "catalog select",
        "label": "",
        "place": "Select data",
        "group": "ff0e54a0.6e8fa8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Generated",
                "value": "generated",
                "type": "str"
            },
            {
                "label": "Measured",
                "value": "measured",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "selected-catalog",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "ee7cb39b.d8355"
            ]
        ]
    },
    {
        "id": "9ab4c376.0ddd2",
        "type": "function",
        "z": "f87f73ed.ba341",
        "name": "set filename",
        "func": "var catalog = flow.get('catalog');\nvar path = context.global.path;\nvar info = path.parse(msg.payload);\nmsg.filename = catalog + '/dat/' + info.name + '.csv';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "734756ea.432ee8"
            ]
        ]
    },
    {
        "id": "6b6edc1c.ac7e54",
        "type": "inject",
        "z": "f87f73ed.ba341",
        "name": "init",
        "topic": "",
        "payload": "generated",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "f4fce7b1.fc3d18"
            ]
        ]
    },
    {
        "id": "c3e8bb76.b7b158",
        "type": "link out",
        "z": "f87f73ed.ba341",
        "name": "reset",
        "links": [
            "fa1a261e.568eb8",
            "da6bcca7.37b89",
            "ba6fe7bb.b56a28",
            "2002b6d0.9e109a"
        ],
        "x": 255,
        "y": 420,
        "wires": []
    },
    {
        "id": "427f81a2.4b016",
        "type": "change",
        "z": "f87f73ed.ba341",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "c3e8bb76.b7b158"
            ]
        ]
    },
    {
        "id": "da6bcca7.37b89",
        "type": "link in",
        "z": "af482ebc.20131",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 155,
        "y": 220,
        "wires": [
            [
                "d50514e7.2fa428",
                "b0133814.10b318"
            ]
        ]
    },
    {
        "id": "ba6fe7bb.b56a28",
        "type": "link in",
        "z": "85a05cda.a32ed",
        "name": "on reset",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 495,
        "y": 340,
        "wires": [
            [
                "11555de5.e87242",
                "204593a0.c6d0ac"
            ]
        ]
    },
    {
        "id": "420facab.34ecc4",
        "type": "delay",
        "z": "2f26069e.9e18ea",
        "name": "",
        "pauseType": "rate",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "68398a57.de3c14"
            ]
        ]
    },
    {
        "id": "27010b34.734f94",
        "type": "delay",
        "z": "f87f73ed.ba341",
        "name": "",
        "pauseType": "delay",
        "timeout": ".2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "9ab4c376.0ddd2"
            ]
        ]
    },
    {
        "id": "6eae794a.3ce868",
        "type": "smooth",
        "z": "85a05cda.a32ed",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 180,
        "y": 122,
        "wires": [
            [
                "1ba8fc65.9c0b44"
            ]
        ]
    },
    {
        "id": "2002b6d0.9e109a",
        "type": "link in",
        "z": "2f26069e.9e18ea",
        "name": "reset loader",
        "links": [
            "c3e8bb76.b7b158"
        ],
        "x": 115,
        "y": 180,
        "wires": [
            [
                "420facab.34ecc4"
            ]
        ]
    },
    {
        "id": "1ba8fc65.9c0b44",
        "type": "window",
        "z": "85a05cda.a32ed",
        "name": "",
        "size": "5",
        "rolling": true,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "6a2235b6.9a47ec"
            ]
        ]
    },
    {
        "id": "79d72041.cda49",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "reset []",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "5a64984b.f910d8",
                "8c50ce.b0961f3"
            ]
        ]
    },
    {
        "id": "f68be25c.f442",
        "type": "debug",
        "z": "af482ebc.20131",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 620,
        "y": 240,
        "wires": []
    }
]