src/node-red/flows_DESKTOP-L1VBG7A.json
[
    {
        "id": "f87f73ed.ba341",
        "type": "tab",
        "label": "catalog",
        "disabled": false,
        "info": "Select a data set from the catalog and notify\nthe data loader."
    },
    {
        "id": "2f26069e.9e18ea",
        "type": "tab",
        "label": "loader",
        "disabled": false,
        "info": "Loads a file of data values and sends one message\nper line. Any line starting with # is ignored as\nblank lines."
    },
    {
        "id": "da1fb570.2fb978",
        "type": "tab",
        "label": "mv",
        "disabled": false,
        "info": "Display the raw signal as well as the filtered\nsignal and some statistics about the signal."
    },
    {
        "id": "af482ebc.20131",
        "type": "tab",
        "label": "utilization kpi",
        "disabled": false,
        "info": "Calculate the percentage of time that the signal is above a given threshold."
    },
    {
        "id": "b4e37829.653658",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Pump Monitor",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c0fb88.33d9d48",
        "type": "ui_tab",
        "z": "",
        "name": "Pump Monitor",
        "icon": "dashboard"
    },
    {
        "id": "71f3ddca.b8fcc4",
        "type": "ui_group",
        "z": "",
        "name": "MV",
        "tab": "5c0fb88.33d9d48",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1bd60359.b904bd",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "5c0fb88.33d9d48",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ff0e54a0.6e8fa8",
        "type": "ui_group",
        "z": "",
        "name": "Data Catalog",
        "tab": "5c0fb88.33d9d48",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "40db0525.ebc17c",
        "type": "link out",
        "z": "2f26069e.9e18ea",
        "name": "data source",
        "links": [
            "c875de8c.bb91b",
            "eda3d4d4.ae6e28"
        ],
        "x": 614.5,
        "y": 92.44998168945312,
        "wires": []
    },
    {
        "id": "eda3d4d4.ae6e28",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "dashboard input",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 115,
        "y": 120,
        "wires": [
            [
                "d63910a6.33bdc",
                "1fff1f1d.73c681",
                "5a64984b.f910d8",
                "34ff438a.c3c81c"
            ]
        ]
    },
    {
        "id": "5a64984b.f910d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "mv",
        "group": "71f3ddca.b8fcc4",
        "order": 1,
        "width": "8",
        "height": "3",
        "label": "MV",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "500",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "68087e91.44487",
        "type": "delay",
        "z": "2f26069e.9e18ea",
        "name": "0.1/s",
        "pauseType": "rate",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": ".2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "8b2e3e54.904bb"
            ]
        ]
    },
    {
        "id": "68398a57.de3c14",
        "type": "change",
        "z": "2f26069e.9e18ea",
        "name": "sample",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sample",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "68087e91.44487"
            ]
        ]
    },
    {
        "id": "c147c8ce.a8dc08",
        "type": "link in",
        "z": "2f26069e.9e18ea",
        "name": "",
        "links": [
            "734756ea.432ee8"
        ],
        "x": 55,
        "y": 80,
        "wires": [
            [
                "72eadb40.7f55c4",
                "f771e781.918ee8"
            ]
        ]
    },
    {
        "id": "bfe26636.7b27d8",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "stats",
        "group": "71f3ddca.b8fcc4",
        "order": 0,
        "width": "8",
        "height": "4",
        "label": "Stats",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "500",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "91193fe3.f53d3",
        "type": "smooth",
        "z": "da1fb570.2fb978",
        "name": "std dev",
        "property": "payload",
        "action": "sd",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "bfe26636.7b27d8"
            ]
        ]
    },
    {
        "id": "fa1a261e.568eb8",
        "type": "link in",
        "z": "da1fb570.2fb978",
        "name": "clear charts",
        "links": [
            "7edee51d.31b6cc"
        ],
        "x": 115,
        "y": 80,
        "wires": [
            [
                "c85e9ab8.529328"
            ]
        ]
    },
    {
        "id": "c85e9ab8.529328",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 20,
        "wires": [
            [
                "5a64984b.f910d8",
                "bfe26636.7b27d8",
                "8c50ce.b0961f3"
            ]
        ]
    },
    {
        "id": "d63910a6.33bdc",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "std dev",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Std Dev",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "91193fe3.f53d3"
            ]
        ]
    },
    {
        "id": "1fff1f1d.73c681",
        "type": "change",
        "z": "da1fb570.2fb978",
        "name": "mean",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Mean",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "3d8e19de.e0c446"
            ]
        ]
    },
    {
        "id": "3d8e19de.e0c446",
        "type": "smooth",
        "z": "da1fb570.2fb978",
        "name": "mean",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "bfe26636.7b27d8"
            ]
        ]
    },
    {
        "id": "8c50ce.b0961f3",
        "type": "ui_chart",
        "z": "da1fb570.2fb978",
        "name": "lo pass",
        "group": "71f3ddca.b8fcc4",
        "order": 1,
        "width": "8",
        "height": "3",
        "label": "Low Pass",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "500",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#abc5e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a5c52791.f073d8",
        "type": "smooth",
        "z": "af482ebc.20131",
        "name": "lo pass",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 245,
        "y": 99,
        "wires": [
            [
                "d50514e7.2fa428"
            ]
        ]
    },
    {
        "id": "d50514e7.2fa428",
        "type": "utilization",
        "z": "af482ebc.20131",
        "name": "",
        "threshold": "0.25",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "fd92220d.2d92d"
            ]
        ]
    },
    {
        "id": "fd92220d.2d92d",
        "type": "function",
        "z": "af482ebc.20131",
        "name": "x100",
        "func": "msg.payload *=100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "b0133814.10b318"
            ]
        ]
    },
    {
        "id": "b0133814.10b318",
        "type": "ui_gauge",
        "z": "af482ebc.20131",
        "name": "",
        "group": "1bd60359.b904bd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Utilization",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#80ff80"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "c875de8c.bb91b",
        "type": "link in",
        "z": "af482ebc.20131",
        "name": "",
        "links": [
            "40db0525.ebc17c"
        ],
        "x": 78.5,
        "y": 149.29998779296875,
        "wires": [
            [
                "a5c52791.f073d8"
            ]
        ]
    },
    {
        "id": "34ff438a.c3c81c",
        "type": "smooth",
        "z": "da1fb570.2fb978",
        "name": "low pass",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "",
        "mult": "single",
        "x": 281.5,
        "y": 151.59999084472656,
        "wires": [
            [
                "8c50ce.b0961f3"
            ]
        ]
    },
    {
        "id": "d53fd991.40e5b8",
        "type": "exec",
        "z": "f87f73ed.ba341",
        "command": "ls",
        "addpay": false,
        "append": "static",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "list the data sets",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "53e224c.4ad7adc"
            ],
            [],
            []
        ]
    },
    {
        "id": "53e224c.4ad7adc",
        "type": "split",
        "z": "f87f73ed.ba341",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 296,
        "y": 51,
        "wires": [
            [
                "6aa36239.4ba67c"
            ]
        ]
    },
    {
        "id": "6aa36239.4ba67c",
        "type": "function",
        "z": "f87f73ed.ba341",
        "name": "filter empty str",
        "func": "if(msg.payload === \"\") return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 473,
        "y": 51,
        "wires": [
            [
                "b348c9c4.c114e8"
            ]
        ]
    },
    {
        "id": "ebba2f76.1137",
        "type": "ui_template",
        "z": "f87f73ed.ba341",
        "group": "ff0e54a0.6e8fa8",
        "name": "catalog",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style='height:90vh; overflow:scroll;overflow-x: hidden;'>\n    <ul ng-repeat='item in msg.payload' id='imagelist' style='list-style-type: none;list-style-position: inside;padding-left:0;'>\n        <li>\n            <md-button ng-click=\"send({payload:item})\" style=\"padding-top:0.5rem;padding-bottom:0.5rem;\">\n                <img ng-src=\"/{{item}}\" style=\"width:95%;height:95%;\" />\n            </md-button>\n        </li>\n    </ul>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "734756ea.432ee8"
            ]
        ]
    },
    {
        "id": "470dc793.f66e88",
        "type": "ui_ui_control",
        "z": "f87f73ed.ba341",
        "name": "",
        "x": 98.5,
        "y": 66.75,
        "wires": [
            [
                "d53fd991.40e5b8"
            ]
        ]
    },
    {
        "id": "734756ea.432ee8",
        "type": "link out",
        "z": "f87f73ed.ba341",
        "name": "selected datafile",
        "links": [
            "c147c8ce.a8dc08"
        ],
        "x": 526.5,
        "y": 223.44998168945312,
        "wires": []
    },
    {
        "id": "b348c9c4.c114e8",
        "type": "join",
        "z": "f87f73ed.ba341",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "x": 440.5,
        "y": 146.59999084472656,
        "wires": [
            [
                "ebba2f76.1137"
            ]
        ]
    },
    {
        "id": "ee993a6b.b738f8",
        "type": "inject",
        "z": "f87f73ed.ba341",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 81.5,
        "y": 281.29998779296875,
        "wires": [
            [
                "d53fd991.40e5b8"
            ]
        ]
    },
    {
        "id": "d47808f9.f67168",
        "type": "function",
        "z": "2f26069e.9e18ea",
        "name": "set fname",
        "func": "var fname=msg.payload.split('.')[0];\nmsg.filename='data/'+fname+'.csv';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "459e8577.1e454c"
            ]
        ]
    },
    {
        "id": "459e8577.1e454c",
        "type": "file in",
        "z": "2f26069e.9e18ea",
        "name": "",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "a14b24a5.699418"
            ]
        ]
    },
    {
        "id": "a14b24a5.699418",
        "type": "function",
        "z": "2f26069e.9e18ea",
        "name": "timestamp",
        "func": "// ignore comments\nif(msg.payload.startsWith('#')) return null;\n\nvar t = flow.get('timestamp')||0;\n\ndelete msg.filename;\nmsg.topic='timeseries';\nmsg.payload = +msg.payload;\nmsg.timestamp = t;\n\n// 1 hr\nt += 3.6e5;\nflow.set('timestamp', t);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "68398a57.de3c14"
            ]
        ]
    },
    {
        "id": "72eadb40.7f55c4",
        "type": "change",
        "z": "2f26069e.9e18ea",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "68087e91.44487",
                "7edee51d.31b6cc"
            ]
        ]
    },
    {
        "id": "f771e781.918ee8",
        "type": "delay",
        "z": "2f26069e.9e18ea",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "d47808f9.f67168"
            ]
        ]
    },
    {
        "id": "8b2e3e54.904bb",
        "type": "function",
        "z": "2f26069e.9e18ea",
        "name": "filter the reset msg",
        "func": "if(msg.reset) return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "40db0525.ebc17c",
                "dc602480.f47b48"
            ]
        ]
    },
    {
        "id": "dc602480.f47b48",
        "type": "debug",
        "z": "2f26069e.9e18ea",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 712,
        "y": 213.5,
        "wires": []
    },
    {
        "id": "7edee51d.31b6cc",
        "type": "link out",
        "z": "2f26069e.9e18ea",
        "name": "reset signal",
        "links": [
            "fa1a261e.568eb8"
        ],
        "x": 412,
        "y": 35,
        "wires": []
    },
    {
        "id": "c3bb7096.3f193",
        "type": "inject",
        "z": "2f26069e.9e18ea",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "72eadb40.7f55c4"
            ]
        ]
    }
]