src/flows/flows_DESKTOP-L1VBG7A.json
[{"id":"2f26069e.9e18ea","type":"tab","label":"data source","disabled":false,"info":""},{"id":"da1fb570.2fb978","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"f23fd930.df06e8","type":"tab","label":"pipeline","disabled":false,"info":""},{"id":"4ac16241.21974c","type":"subflow","name":"read samples","info":"","in":[{"x":52.5,"y":189.5999755859375,"wires":[{"id":"2152ef27.81ac8"}]}],"out":[{"x":556.5,"y":172.14999389648438,"wires":[{"id":"2857195c.5e4586","port":0}]}]},{"id":"b4e37829.653658","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Spinning Thing Monitor","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c0fb88.33d9d48","type":"ui_tab","z":"","name":"Spinning Thing Monitor","icon":"dashboard"},{"id":"71f3ddca.b8fcc4","type":"ui_group","z":"","name":"Default","tab":"5c0fb88.33d9d48","order":2,"disp":false,"width":"6","collapse":false},{"id":"1bd60359.b904bd","type":"ui_group","z":"","name":"Group 4","tab":"5c0fb88.33d9d48","order":3,"disp":false,"width":"4","collapse":false},{"id":"29d0a801.b47348","type":"ui_group","z":"","name":"Group 3","tab":"5c0fb88.33d9d48","order":1,"disp":false,"width":"1","collapse":false},{"id":"906cfbcc.e6ad98","type":"file in","z":"4ac16241.21974c","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"x":182.5,"y":262.8999938964844,"wires":[["70a49e77.9cef3"]]},{"id":"70a49e77.9cef3","type":"csv","z":"4ac16241.21974c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"timestamp,value","x":338.5,"y":264.6000061035156,"wires":[["56ebe256.ee43dc"]]},{"id":"56ebe256.ee43dc","type":"function","z":"4ac16241.21974c","name":"parse timestamp","func":"msg.payload.timestamp = new Date(msg.payload.timestamp).getTime();\nreturn msg.payload.timestamp ? msg : null;","outputs":1,"noerr":0,"x":445.5,"y":352.6000061035156,"wires":[["2857195c.5e4586"]]},{"id":"2152ef27.81ac8","type":"change","z":"4ac16241.21974c","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230.5,"y":93.5999755859375,"wires":[["906cfbcc.e6ad98"]]},{"id":"2857195c.5e4586","type":"function","z":"4ac16241.21974c","name":"rm cruft","func":"delete msg.filename;\ndelete msg.parts;\nreturn msg;","outputs":1,"noerr":0,"x":456.5,"y":94.60000610351562,"wires":[[]]},{"id":"b13fa7c5.aa7388","type":"subflow:4ac16241.21974c","z":"2f26069e.9e18ea","name":"","x":354.5,"y":128.875,"wires":[["68398a57.de3c14"]]},{"id":"40db0525.ebc17c","type":"link out","z":"2f26069e.9e18ea","name":"data source","links":["eda3d4d4.ae6e28","bf6b8989.ee38a8"],"x":614.5,"y":92.44998168945312,"wires":[]},{"id":"eda3d4d4.ae6e28","type":"link in","z":"da1fb570.2fb978","name":"dashboard input","links":["40db0525.ebc17c","a0363a7e.0c4be8"],"x":67.5,"y":103.30000305175781,"wires":[["53078e1c.9b867"]]},{"id":"5a64984b.f910d8","type":"ui_chart","z":"da1fb570.2fb978","name":"","group":"71f3ddca.b8fcc4","order":1,"width":"0","height":"0","label":"Samples","chartType":"line","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"14","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":584.5,"y":93.34999084472656,"wires":[[],[]]},{"id":"692362b0.2df92c","type":"chartable","z":"da1fb570.2fb978","name":"","x":340.5,"y":89.14999389648438,"wires":[["5a64984b.f910d8"]]},{"id":"68087e91.44487","type":"delay","z":"2f26069e.9e18ea","name":"0.1/s","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":528.5,"y":194.60000610351562,"wires":[["40db0525.ebc17c"]]},{"id":"a52c0e14.a1d3a","type":"ui_button","z":"2f26069e.9e18ea","name":"","group":"29d0a801.b47348","order":1,"width":"1","height":"1","passthru":false,"label":"Load","color":"","bgcolor":"","icon":"","payload":"C:\\\\Users\\\\Dennis\\\\Desktop\\\\pump-anon-data\\\\samples\\\\4b476f93-aeb1-48f7-b1ec-a3d49145484a.timeseries.csv","payloadType":"str","topic":"","x":163,"y":185,"wires":[["b13fa7c5.aa7388"]]},{"id":"bf6b8989.ee38a8","type":"link in","z":"f23fd930.df06e8","name":"","links":["40db0525.ebc17c"],"x":95.5,"y":84.30000305175781,"wires":[["97ef341a.e57458"]]},{"id":"97ef341a.e57458","type":"indexer","z":"f23fd930.df06e8","name":"","x":188.5,"y":178.14999389648438,"wires":[["d8ab2462.30a768"]]},{"id":"865ed09a.8490f","type":"threshold","z":"f23fd930.df06e8","name":"","threshold":"0.5","x":324.5,"y":62.149993896484375,"wires":[["dd6eb662.8dc478"]]},{"id":"d8ab2462.30a768","type":"function","z":"f23fd930.df06e8","name":"record delta-t","func":"var current = flow.get('current') || msg.payload.timestamp;\nvar delta = msg.payload.timestamp - current;\nflow.set('current',  msg.payload.timestamp);\nmsg.delta = delta;\nreturn msg;","outputs":1,"noerr":0,"x":280.5,"y":255.60000610351562,"wires":[["865ed09a.8490f"]]},{"id":"a0363a7e.0c4be8","type":"link out","z":"f23fd930.df06e8","name":"modified data src","links":["eda3d4d4.ae6e28"],"x":578.5,"y":249.44998168945312,"wires":[]},{"id":"fa9b5d38.dcdeb","type":"inject","z":"2f26069e.9e18ea","name":"load test data","topic":"","payload":"./data.csv","payloadType":"str","repeat":"","crontab":"","once":false,"x":137.5,"y":77.29999542236328,"wires":[["b13fa7c5.aa7388"]]},{"id":"dd6eb662.8dc478","type":"function","z":"f23fd930.df06e8","name":"utilization","func":"var state = flow.get('utilization')||{idx:0, start:0, on:0};\nif(state.start == 0){\n    state.start = msg.payload.timestamp;\n}\nif(state.idx+1 == msg.n){\n    state.on += msg.delta;\n}\nstate.idx = msg.n;\nflow.set('utilization', state);\nvar t = msg.payload.timestamp - state.start + 1;\nvar u = state.on / t;\nreturn {\n    topic: 'utilization-kpi',\n    payload: u\n};","outputs":1,"noerr":0,"x":482.5,"y":155.59999084472656,"wires":[["a0363a7e.0c4be8"]]},{"id":"68398a57.de3c14","type":"change","z":"2f26069e.9e18ea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sample","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360.5,"y":232.60000610351562,"wires":[["68087e91.44487"]]},{"id":"53078e1c.9b867","type":"switch","z":"da1fb570.2fb978","name":"route","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sample","vt":"str"},{"t":"eq","v":"utilization-kpi","vt":"str"}],"checkall":"true","outputs":2,"x":203.5,"y":174.59999084472656,"wires":[["692362b0.2df92c"],["52684e78.764ee"]]},{"id":"95cc0991.d00e08","type":"ui_gauge","z":"da1fb570.2fb978","name":"Utilization","group":"1bd60359.b904bd","order":1,"width":0,"height":0,"gtype":"gage","title":"Utilization","label":"","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":572.5,"y":172.34999084472656,"wires":[]},{"id":"f3955b57.244c58","type":"inject","z":"da1fb570.2fb978","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"x":443.5,"y":34.30000305175781,"wires":[["5a64984b.f910d8"]]},{"id":"52684e78.764ee","type":"function","z":"da1fb570.2fb978","name":"","func":"msg.payload = msg.payload * 100;\nreturn msg;","outputs":1,"noerr":0,"x":378.5,"y":271.6000061035156,"wires":[["95cc0991.d00e08"]]}]